backend:
  name: git-gateway
  branch: main # Branch to update (optional; defaults to master)

local_backend: true

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "videos"
    label: "Videos"
    folder: "src/content/videos"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Description", name: "description", widget: "markdown" }
      - { label: "Protected", name: "is_protected", widget: "boolean", default: true }
      - { label: "S3 Key", name: "s3_key", widget: "string", hint: "The exact filename in the S3 bucket" }
